:root {
  --red: hsl(0, 100%, 74%);
  --green: hsl(154, 59%, 51%);

  --blue: hsl(248, 32%, 49%);

  --dark-blue: hsl(249, 10%, 26%);
  --grayish-blue: hsl(246, 25%, 77%);
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  border: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  text-align: center;
  background-image: url(./images/bg-intro-mobile.png);
  background-color: var(--red);
}

.main-container {
  width: 88%;
  margin: auto;
}
@media (min-width: 760px) {
  .main-container {
    width: 80%;
  }
}
@media (min-width: 1020px) {
  .main-container {
    width: 76%;
    margin: 20px auto;
  }
}

/* FIRST PART with title & description */
.title {
  font-size: 27px;
  font-weight: 600;
  color: white;
  line-height: 1.4em;
  margin: 96px 30px 20px 30px;
}
.about {
  font-size: 16px;
  color: white;
  margin: 0 10px 60px 10px;
  line-height: 1.8em;
}

/* BLUE container about price & delay */
.blue-container {
  background-color: var(--blue);
  width: 100%;
  height: 90px;
  border-radius: 10px;
  box-shadow: 0px 6px hsla(249, 10%, 26%, 0.178);
  display: flex;
  justify-content: center;
}
.try-it {
  color: white;
  font-size: 16px;
  font-weight: 400;
  margin: auto 50px;
}

.bold {
  font-weight: 700;
}

/* FORM contents */
form {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 6px hsla(249, 10%, 26%, 0.178);
  margin-top: 25px;
  height: auto;
}
fieldset {
  border: none;
}
input {
  width: 90%;
  height: 3.5rem;
  border-radius: 5px;
  border: 1px solid var(--grayish-blue);
  margin: 10px auto;
  outline: none;
}
#firstname {
  margin-top: 20px;
}

/* PLACEHOLDER change font, size */
#firstname::placeholder,
#lastname::placeholder,
#email::placeholder,
#password::placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 600;
  padding-left: 15px;
}

/* ERRORS MESSAGES */
.error-icon {
  background-image: url(./images/icon-error.svg);
  background-repeat: no-repeat;
  background-position: 97% 49%;
  border: 2px solid hsl(0, 100%, 74%) !important;
}

.error {
  color: hsl(0, 100%, 74%);
  margin-right: 15px;
  margin-bottom: 10px;
  float: right;
  font-size: 11px;
}

/* BUTTON */
.btn {
  border: none;
  outline: none;
  width: 90%;
  height: 3.5rem;
  background-color: var(--green);
  box-shadow: 0px 2px hsl(154, 86%, 28%);
  border-radius: 5px;

  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.2vw;
  color: white;
  font-weight: 600;
}

.btn:hover {
  cursor: pointer;
}

/* TERMS & SERVICES */
.agree {
  font-size: 11px;
  color: var(--grayish-blue);
  margin: 20px 20px;
  padding: 0 0 25px 0;
}
.terms {
  color: var(--red);
  font-weight: 600;
  text-decoration: none;
}

/* FOOTER */
.attribution {
  font-size: 10px;
  text-align: center;
  margin-top: 40px;
}
.attribution a {
  color: hsl(0, 0%, 100%);
  text-decoration: none;
}

/* DESKTOP DESIGN */
@media (min-width: 1050px) {
  .main-container {
    width: 80%;
    height: 90%;
    margin: 80px auto;
    display: grid;
    grid-template-columns: 1fr 37.5vw;
    grid-template-rows: 80px auto;
  }

/* TITLE & TEXT GRID */
  .content {
    grid-row: 2;
    grid-column: 1;
  }

  .title {
    font-size: 54px;
    line-height: 4rem;
    text-align: left;
    margin-top: 22.61vh;
    margin-left: 10px;
  }
  .about {
    font-size: 17px;
    text-align: left;
    margin: 30px 40px 0 10px;
  }

/* BLUE CONTAINER GRID */
  .blue-container {
    grid-row: 1;
    grid-column: 2;
    height: auto;
  }
  .try-it {
    font-size: 16px;
    align-self: center;
  }

/* FORM GRID */
  form {
    grid-row: 2;
    grid-column: 2;
  }

  input, .btn {
    width: 83%;
    height: 3.5rem;
    margin: 10px auto;
  }

  #firstname {
    margin-top: 35px;
  }

  .attribution {
    display: none;
  }

}
